<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task Manager App - Create Task</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-br from-gray-800 to-gray-900">
  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white rounded-3xl shadow-2xl  md:px-8 py-4 w-full max-w-sm">
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-5">Add New Task</h1>
      <form action="/task/app/create/<%= userId %>" method="post" class="space-y-6">
        <div>
          <label for="topic" class="block text-lg font-medium text-gray-700">Topic</label>
          <input type="text" name="topic" id="topic" placeholder="Enter task topic" required
            class="mt-1 block w-full rounded-md border border-gray-300 px-4 py-2 shadow-sm focus:border-cyan-500 focus:ring focus:ring-cyan-200">
        </div>
        <div>
          <label for="description" class="block text-lg font-medium text-gray-700">Description</label>
          <textarea name="description" id="description" rows="5" placeholder="Enter task description" required
            class="mt-1 block w-full rounded-md border border-gray-300 px-4 py-2 shadow-sm focus:border-cyan-500 focus:ring focus:ring-cyan-200"></textarea>
        </div>
        <button type="submit" 
          class="w-full py-3 bg-cyan-600 text-white rounded-md text-xl font-semibold hover:bg-cyan-700 transition-colors">
          Add Task
        </button>
      </form>
      <div class="mt-4 text-center">
        <p class="text-gray-600">Already have a task?</p>
        <a href="/task/app/read/<%= userId %>" 
           class="mt-1 inline-block text-cyan-600 hover:text-cyan-800 font-medium transition">
          View Tasks
        </a>
      </div>
    </div>
  </div>
</body>
</html>
